.centerDialog{
    text-align: center;
}
/* fix this CSS */
.centerButton{
    width: 100%;
    
}

.dialogContent.mat-dialog-content {
    text-align: center;
}

 .chips-container {
    position: relative;
    left: 3%;
    padding: 1%;
} 
img.mat-card-image {
    width: 50%;
    height: auto;
    position: relative;
    left: 50%;
}
.track-time{
    float: right;
}
.no-tracks-class {
    font-size: 20px;

    font-weight: bold;
    color: darkgray;
}
.centerText{
    text-align: center;
}
/* this is not good because of the accessibility in the page but had to put it */
*:focus {
    outline: none !important;
    border: 0 !important;
}