<div *ngIf="showSpinner" class="spinnerClass">
  <mat-spinner diameter="60"></mat-spinner>
</div>
<div class="detailAlbumsContainer">
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand centerNavBarTitle" href="#"
        >{{ artistName }}'s albums</a
      >
    </nav>
  </div>
  <div>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 tableWidth"
    >
      <!-- Album name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="nameHeaderWidth">
          Album name
        </th>
        <td mat-cell *matCellDef="let element">
          <a
            [routerLink]=""
            (click)="openAlbumTracks(element)"
            matTooltip="View album's tracks."
            >{{ element.name }}</a
          >
        </td>
      </ng-container>
      <!-- Album type column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="typeHeaderWidth">
          Album type
        </th>
        <td mat-cell *matCellDef="let element" class="paddingCell">
          <a>{{ element.album_type }}</a>
        </td>
      </ng-container>
      <!-- Contributors column -->
      <ng-container matColumnDef="contributors">
        <th mat-header-cell *matHeaderCellDef class="typeHeaderWidth">
          Contributors
        </th>
        <td mat-cell *matCellDef="let element" class="paddingCell">
          <a
            *ngFor="let c of element.artists; let i = index"
            [routerLink]="['/artist-detail-page', c.id]"
            (click)="setArtistName(c.name)"
            matTooltip="View this artist's albums."
            >{{ c.name
            }}<span
              *ngIf="
                element.artists.length > 0 && i !== element.artists.length - 1
              "
              >,
            </span></a
          >
          <br />
        </td>
      </ng-container>
      <!--Image column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef align="right"></th>
        <td mat-cell *matCellDef="let element" align="right">
          <img
            *ngIf="element.images"
            class="mt-2 mb-2"
            [attr.src]="element.images[0].url | securePipe | async"
            alt="Avatar"
            width="85px"
            height="85px"
          />
          <img
            *ngIf="!element.images"
            class="mt-2 mb-2"
            [attr.src]="'../../../assets/300px-No_image_available.svg.png'"
            alt="Avatar"
            width="60px"
            height="60px"
          />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      (page)="getAlbums($event)"
    ></mat-paginator>
  </div>
</div>
